body {
  font-family: roboto;
  margin-top: 15%;;
}

.Low-usage {
    color: green;
  }
  
  .Medium-usage {
    color: black;
  }
  
  .High-usage {
    color: red;
  }

  #content {
    width: 100%;
    height: 100%;
    background-color: chartreuse;
    padding: 10px;
  }

  #temp-control {
    width: 40%;
   
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    margin-left: 30%;
    padding-bottom: 0%;
  }

  #temp-wrap {
    width: 33%;
    background-color: coral;
    display: flex;
    justify-content: center;
  }

  #temp {
    font-size: 100px;
    padding-bottom: 0%;
  }

  #temp-up {
    width: 100%;
  }

  #temp-down {
    width: 100%;
  }


  #buttons {
    width: 40%;
    background-color: red;
    padding: 10px;
    display: flex;
    margin-left: 30%;
  }

  .controls {
    width: 33%;
    background-color: green;
    display: flex;
    justify-content: center;
  }

  #energy-usage-wrap {
    width: 80%;
    background-color: brown;
    margin-top: 0;
  }


 